<div class="photoContainer">

    <div *ngFor="let pho of album.photos" class="photoElement">

        <div class="photo" id="photo{{ pho.id }}" [routerLink]="['show', pho.id]">

        </div>

        <i class="material-icons" *ngIf="!pho.select" (click)="likePhoto(pho)">favorite_border</i>
        <i class="material-icons active" *ngIf="pho.select" (click)="likePhoto(pho)">favorite</i>

    </div>

</div>

<div class="counter">
    {{ photoLikesCount() }} / {{ album.disponible}}
</div>


<router-outlet></router-outlet>